{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./src"
        ],
        "alias": {
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@reducers": "./src/reducers",
          "@infra": "./src/infra"
        }
      }
    ]
  ]
}